@model IEnumerable<OtoServisSatis.Entities.Arac>

@{
    ViewBag.Title = "Araçlar";
}

<h2>Araçlar</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Renk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modeli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KasaTipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SatisDurumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AracBilgileri)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Renk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modeli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KasaTipi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SatisDurumu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AracBilgileri)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.Id }) |

            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
